<section class="section-container">

    <form class="filter-flights-form" [formGroup]="filterFlightForm" (ngSubmit)="filterFlghts()">
        <span>
            <p class="filter-by-label">Filtrar vuelos por:</p>
        </span>

        <span class="p-float-label">
            <p-dropdown inputId="float-label-origin" formControlName="origin" [options]="cities" optionLabel="cityName" placeholder="Seleccione ciudad"></p-dropdown>
            <label for="float-label-origin" >Origen</label>
        </span>

        <span class="p-float-label">
            <p-dropdown inputId="float-label-destination" formControlName="destination" [options]="cities" optionLabel="cityName" placeholder="Seleccione ciudad"></p-dropdown>
            <label for="float-label-destination" >Destino</label>
        </span>

        <div class="filter-buttons-container">
            <p-button [disabled]="!filterFlightForm.dirty" label="Limpiar" [text]="true" severity="secondary" (onClick)="cleanFilters()"></p-button>

            <p-button [disabled]="!filterFlightForm.dirty" type="submit" label="Filtrar" [raised]="true" severity="primary"></p-button>
        </div>
        
    </form>


    <div class="header-card">
        <p class="header-text">Ruta</p>
        <p class="header-text">Fecha de salida</p>
        <p class="header-text">Fecha de llegada</p>
        <p class="header-text">Precio tiquete</p>
    </div>

    @for(flight of filterdFlightArray; track flight.flightCode){
        <div class="flight-card">
            <img src="assets/plane.png" alt="plane icon">
            <p class="flight-text">{{flight.origin}} - {{flight.destination}}</p>
            <p class="flight-text">{{getReadableDate(flight.departureDate)}}</p>
            <p class="flight-text">{{getReadableDate(flight.arrivalDate)}}</p>
            <p class="flight-text">${{flight.flightPrice}}</p>
            <p-button label="Reservar asiento" severity="secondary" size="small" [disabled]="loading" (onClick)="createReservation(flight.flightCode)"></p-button>
        </div>
    }

</section>

<p-toast></p-toast>
