.section-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: auto;
    min-height: 400px;
}

.create-flight-form {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.control-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    label {
        margin-bottom: 10px;
        font-size: 14px;
    }
}