<section class="section-container">
    @for(reservation of reservations; track reservation.flightCode){
        <article class="reservation-card">

            <span class="reservation-subcontainer">
                <img class="ticket-icon" src="assets/flight.png" alt="ticket icon">
                <p class="ticket-icon-text">{{reservation.airLineName | uppercase}} - {{reservation.flightCode | uppercase}}</p>
            </span>

            <span class="reservation-subcontainer">
                <img class="ticket-icon" src="assets/route.png" alt="route icon">
                <p class="ticket-icon-text">{{reservation.origin | uppercase}} - {{reservation.destination | uppercase}}</p>
            </span>

            <span class="reservation-subcontainer">
                <img class="ticket-icon" src="assets/calendar.png" alt="calendar icon">
                <p class="ticket-icon-text">{{getReadableReservationDate(reservation.departureDate)}}</p>
            </span>

            <span class="reservation-subcontainer">
                <img class="ticket-icon" src="assets/seat.png" alt="seat icon">
                <p class="ticket-icon-text">{{reservation.planeSeat | uppercase}}</p>
            </span>

            <div class="reservation-footer">
                <img class="qr-icon" src="assets/qr.png" alt="calendar icon">
                <div class="reservation-client-info">
                    <p class="reservation-client-info__name">{{reservation.clientName | uppercase}} {{reservation.clientLastName | uppercase}}</p>
                    <p class="reservation-client-info__email" >{{reservation.clientEmail | lowercase}}</p>
                </div>
                
            </div>

        </article>
    }
</section>
