<main class="main">
  <div class="content">

    <h1>Bienvenido de nuevo, {{clientData.clientName | titlecase }} {{clientData.clientLastName | titlecase }}</h1>
    <p>¿Que deseas hacer hoy en esta demo?</p>

    <div class="pill-group">
      <a class="pill" [routerLink]="['/create-flight']" routerLinkActive="pill-active">
        Agreagar un vuelo en base de datos
      </a>
 
      <a class="pill" [routerLink]="['/make-reservation']" routerLinkActive="pill-active">
        Reservar un asiento en un vuelo
      </a>

      <a class="pill" [routerLink]="['/statistics']" routerLinkActive="pill-active" >
        Ver estadisticas
      </a>
    </div>

    <div class="divider" role="separator" aria-label="Divider"></div>

  </div>
</main>


<router-outlet />